In [ ]:
# Loading Data:
import pandas as pd

try: # Running Locally, yakinkan "file_" berada di folder "data"
    dfJ = pd.read_csv("data/jakarta.csv", low_memory = False, encoding='utf8')
    dfD = pd.read_csv("data/depok.csv", low_memory = False, encoding='utf8')
    dfT = pd.read_csv("data/tangerang.csv", low_memory = False, encoding='utf8')
except: # Running in Google Colab
    !mkdir data
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/EDA-Case-01-PreProcessing/master/data/jakarta.csv
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/EDA-Case-01-PreProcessing/master/data/depok.csv
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/EDA-Case-01-PreProcessing/master/data/tangerang.csv
    dfJ = pd.read_csv("data/jakarta.csv", low_memory = False, encoding='utf8')
    dfD = pd.read_csv("data/depok.csv", low_memory = False, encoding='utf8')
    dfT = pd.read_csv("data/tangerang.csv", low_memory = False, encoding='utf8')
    
dfJ.shape, dfD.shape, dfT.shape

((1024, 26), (998, 26), (128, 26))

In [ ]:
#Import data
import pandas as pd
data_B = pd.read_csv('/content/data/jakarta.csv')
print(data_B.shape)
data_B

(1024, 26)

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,06-12-2021,202.0,198.0,8.0,3.0,NaN,NaN,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02-12-2021,30.0,55.0,2.0,1.0,NaN,1.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,06-12-2021,19.0,35.0,2.0,1.0,NaN,NaN,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,06-12-2021,33.0,42.0,2.0,2.0,NaN,1.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,06-12-2021,30.0,55.0,2.0,2.0,NaN,1.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Informasi data
data_B.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1024 entries, 0 to 1023
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   created_at  121 non-null    object
 1   LT          121 non-null    float64
 2   LB          121 non-null    float64
 3   KT          121 non-null    float64
 4   KM          121 non-null    float64
 5   garasi      1024 non-null   float64
 6   carport     1024 non-null   float64
 7   lokasi      121 non-null    object
 8   sertifikat  119 non-null    object
 9   listrik     120 non-null    float64
 10  hadap       1024 non-null   object
 11  harga       121 non-null    float64
 12  URL         121 non-null    object
 13  deskripsi   112 non-null    object
dtypes: float64(8), object(6)
memory usage: 112.1+ KB

**Berdasarkan informasi data di atas, kualitas data daerah Jakarta rendah karena banyak data kosong, untuk itu data harus diperbaharui agar tidak memiliki data kosong**

In [ ]:
#Statistik deskriptif data
data_B.describe()

,LT,LB,KT,KM,garasi,carport,listrik,harga
count,121.000000,121.000000,121.000000,121.000000,1024.000000,1024.000000,120.000000,1.210000e+02
mean,247.586777,279.495868,4.272727,3.380165,0.080078,0.171875,5425.000000,8.985955e+09
std,368.384642,285.275631,1.901754,1.709075,0.489812,0.704510,7891.589502,1.587610e+10
min,16.000000,21.000000,1.000000,1.000000,0.000000,0.000000,900.000000,3.800000e+08
25%,84.000000,97.000000,3.000000,2.000000,0.000000,0.000000,2200.000000,1.600000e+09
50%,135.000000,200.000000,4.000000,3.000000,0.000000,0.000000,3500.000000,3.400000e+09
75%,250.000000,350.000000,5.000000,4.000000,0.000000,0.000000,4425.000000,7.250000e+09
max,3422.000000,2000.000000,10.000000,10.000000,8.000000,10.000000,66000.000000,1.050000e+11

In [ ]:
#Menjadikan variabel created_at menjadi index
data_cut = data_B.set_index('created_at')
data_cut

,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,hadap,harga,URL,deskripsi
created_at,,,,,,,,,,,,,
06-12-2021,202.0,198.0,8.0,3.0,0.0,0.0,Jakarta Pusat,SHM,2200.0,0,4.500000e+09,https://www.rumah.com/listing-properti/dijual-...,Dekat Cikini Salemba Taman Isamail Marzuki Kam...
02-12-2021,30.0,55.0,2.0,1.0,0.0,1.0,Jakarta Pusat,SHM,2200.0,0,1.100000e+09,https://www.rumah.com/listing-properti/dijual-...,"Mengusung konsep minimalis, dan didukung denga..."
06-12-2021,19.0,35.0,2.0,1.0,0.0,0.0,Jakarta Pusat,SHM,2200.0,0,3.950000e+08,https://www.rumah.com/listing-properti/dijual-...,"Dekat dengan Mall Atrium Senen, dekat dengan a..."
06-12-2021,33.0,42.0,2.0,2.0,0.0,1.0,Jakarta Pusat,SHM,2200.0,0,8.350000e+08,https://www.rumah.com/listing-properti/dijual-...,"Berlokasi sangat strategis, sangat dekat ke Tu..."
06-12-2021,30.0,55.0,2.0,2.0,0.0,1.0,Jakarta Pusat,SHM,2200.0,0,1.100000e+09,https://www.rumah.com/listing-properti/dijual-...,"Bisa request ubah tata ruang, beli 2 unit mend..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0,NaN,NaN,NaN

In [ ]:
data_B.duplicated().sum()

902

In [ ]:
data_B.drop_duplicates(inplace=True)
print(data_B.duplicated().sum())
print(data_B.shape)

0
(122, 14)

**Dari data tersebut tersisa hanya 122 baris dan 14 kolom**

In [ ]:
#Mengubah variabel yang memiliki banyak data NaN sehingga menjadi 0
data_B["garasi"].fillna(0, inplace = True)
data_B["carport"].fillna(0, inplace = True)
data_B["hadap"].fillna(0, inplace = True)

In [ ]:
data_B.isnull().sum()

created_at    903
LT            903
LB            903
KT            903
KM            903
garasi          0
carport         0
lokasi        903
sertifikat    905
listrik       904
hadap           0
harga         903
URL           903
deskripsi     912
dtype: int64